#errormessage p{
    text-align: center;
}
#tree{
    font-size: 150%;
    color: #080808;
}
.selected > h3 {
    color: #a94442;
}
li{
    cursor: pointer;
}
#text{
    text-align: center;
    display: none;
}
.actives{
    color:#ffffff;
    font-weight: bold;
}
#CategoryCreateButton{
    margin: 15px;
}
li h3{
    display: inline-block;
}
#dell{
    padding-right: 10px;
}
#CategorySiblingCreateButton{
    display: inline-block
}
#errormessage{
    text-align: center;
    color: #c7254e;
    font-weight: bold;
}
#products_add{
    padding-top: 30px ;;
}
.multi{
    width: 400px;
}
#cat_name{
    color: #080808;
}
#messege{
    text-align: center;
}
.crum{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    display: none;
}
.product{
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    min-width: 200px;
    float: left;

}
#pageproduct{
    font-size: 150%;
    background-color: #c0c0c0;
    color: #080808;
}
body{
    background-color: floralwhite;
}
#form_product_add{
    display: none;
}
.delete_product{
    float: left;
    margin-left: 20px;
}
.more{
    padding-top: 7px;
    padding-left: 20px;
}
#product_name{
    font-size: 150%;
    font-weight: bold;
    color: #080808;
    text-align: center;
}
#product_photos{
    text-align: center;
}

#product_photos  div {
    display: inline-block;
}

#product_update{
    text-align: center;
    padding-top: 25px;
}
#change_form{
    display: none;
}
#description{
    font-size: 150%;
    font-weight: bold;
    color: #080808;
    text-align: center;
}
#secondary_photo{
    padding-top: 10px;
}
#back_to_product{
    padding-left: 10px;
}
.product_crumbs{
    width:800px;
    margin: 0px auto;
}
#product_create{
    font-size: 250%;
    font-weight: bold;
    color: #080808;
    text-align: center;
}
.general_photo{
    border: 5px solid #c7254e ;
}
.make_general_photo{
    position: absolute;
    z-index: 1;
}
.first{
    display: none;
}
#update_price{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    color: #080808;
}
.client_categories{
    text-align: center;
}
.not_show {
    display: none;
}
.client_product_info{
    padding: 2px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #080808;
}
.client_product_photo{
    cursor: pointer;
}
.client_product_name{
    cursor: pointer;
}
#client_product_more{
    text-align: center;
}
#price{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #080808;
    width: 30%;
    margin: 0px auto;
}
.bay{
    margin: 0px auto;
}
#price_create{
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: #080808;
    width: 30%;
}
.sort_photo{
    padding-left: 5px;
}
/*.zoomContainer{*/
    /*z-index: -99999;*/
/*}*/
.save_image{
    margin: 0px auto;
}
#successmessage{
    display: none;
    text-align: center;
}
.client_product_description{
    display: none;
}
.client_product_info:hover .client_product_description{
    display: block;
}
.client_product_description{
    font-size: 50%;
    color: #080808;
}
