#errormessage p{
    text-align: center;
}
#tree{
    border:solid #080808;
    font-size: 150%;
    color: blue;
}
.selected > h3 {
    color: red;
}
li{
    cursor: pointer;
}
#text{
    text-align: center;
    display: none;
}
.actives{
    color:#ffffff;
    font-weight: bold;
}
#CategoryCreateButton{
    margin: 15px;
}
li h3{
    display: inline-block;
}
#dell{
    padding-right: 10px;
}
#CategorySiblingCreateButton{
    display: inline-block
}
#errormessage{
    text-align: center;
    color: #c7254e;
    font-weight: bold;
}
#products_add{
    padding-top: 30px ;;
}