#errormessage p{
    text-align: center;
}
#tree{
    background-color: #080808;
    font-size: 150%;
    color: blue;
}
.selected > h3 {
    color: red;
}
li{
    cursor: pointer;
}
#text{
    text-align: center;
    display: none;
}
.actives{
    color:red;
}
#tree li{
    width: 50px;
}
#CategoryCreateButton{
    margin: 15px;
}